.sliding-text-container {
    height: 82vh;
    width: 99vw;
    position: relative;
    text-align: center; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.big-text {
    display: inline-block;
    font-size: 200px;
    color: #272727;
    position: absolute;
    left: 100%;
    z-index: 0;
    font-weight: 900;
    animation: marquee 30s linear infinite;
}
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-180%);
    }
}

.small-text {
    font-size: 65px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .sliding-text-container{
        height: 80vh;
    }
    .big-text{
        font-size: 80px;
    }
    .small-text{
        font-size: 20px;
        letter-spacing: 2px;
    }
}

