@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.sliding-text-container {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding: 20px 0 60px 0;
}


.small-text .title-lines{
    font-size: 11vw;
    color: #ffffff;
    margin-bottom: -6.5vw;
    padding: 0% 5%;
    letter-spacing: 2px;
}


.small-text .title-lines:nth-of-type(3) {
    text-align: center;
}

.small-text .title-lines span{
    color: #969595;
    font-family: 'Major Mono Display',
    monospace;
} 

@media only screen and (max-width: 600px) {
    .sliding-text-container{
        height: 80vh;
    }
    .big-text{
        font-size: 80px;
    }
    .small-text{
        font-size: 20px;
        letter-spacing: 2px;
    }
}

