@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


.sliding-text-container {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding-bottom: 60px;
}


.small-text .title-lines{
    font-size: 10vw;
    margin-bottom: -6vw;
    padding: 0% 5%;
    letter-spacing: 3px;
}


.small-text .title-lines:nth-of-type(3) {
    text-align: center;
}

.small-text .title-lines span{
    color: #969595;
    font-family: 'Major Mono Display',
    monospace;
} 

@media only screen and (max-width: 600px) {
    .sliding-text-container{
        padding: 120px 0 60px 0;
    }
    .small-text .title-lines{
        font-size: 11vw;
        margin-bottom: -2vw;
    }
    .small-text .title-lines:nth-of-type(1) {
        text-align: end;
    }
}

